<div class="flex flexcol small phase-details">
  <h1 class="flexshrink">{{localize currentPhase.name}}</h1>

  <div class="flex flex-group-center">
    {{#if active}}
      <p class="timer">{{formattedTimeLeft timeLeft}}</p>
    {{else}}
      <h1 class="timer finished">{{localize "HEIST.GamePhaseWindow.NoTimeLeft"}}</h1>
    {{/if}}
  </div>
  {{#if isGM}}
    <div class="buttons flex flexrow">
      {{#if hasNextPhase}}
        <div>
          <button type="button" class="action-btn flexshrink" data-next
                  data-tooltip="{{localize "HEIST.GamePhaseWindow.Buttons.NextPhase"}}">
            <i class="fa fa-forward"></i>
          </button>
        </div>
      {{/if}}
      {{#if canPause}}
        <div>
          <button type="button" class="action-btn" data-pause {{disabled (not active)}} class="flexshrink"
                  data-tooltip="{{ifThen paused (localize "HEIST.GamePhaseWindow.Buttons.Launch") (localize "HEIST.GamePhaseWindow.Buttons.Pause")}}">
            {{#if paused}}<i class="fa fa-play"></i>{{else}}<i class="fa fa-pause"></i>{{/if}}
          </button>
        </div>
      {{/if}}
      <div>
        <button type="button" class="action-btn flexshrink" data-reset
                data-tooltip="{{localize "HEIST.GamePhaseWindow.Buttons.Reset"}}">
          <i class="fa fa-rotate-left"></i>
        </button>
      </div>
    </div>
  {{/if}}
</div>
