<div class="flex flexcol small phase-details">
  <h2 class="align-center">{{localize currentPhase.name}}</h2>

  <div>
    {{#if active}}
      <p class="timer">{{formattedTimeLeft timeLeft}}</p>
    {{/if}}
    {{#if (not active)}}
      <p class="timer finished">{{localize "HEIST.GamePhaseWindow.NoTimeLeft"}}</p>
    {{/if}}
  </div>
  {{#if isGM}}
    <div class="buttons flex flexrow">
      {{#if hasNextPhase}}
        <div>
          <button type="button" data-next data-tooltip="{{localize "HEIST.GamePhaseWindow.Buttons.NextPhase"}}"
                  class="flexshrink">
            <i class="fa fa-forward"></i>
          </button>
        </div>
      {{/if}}
      {{#if canPause}}
        <div>
          <button type="button" data-pause{{#unless active}} disabled{{/unless}} class="flexshrink"
                  data-tooltip="{{ifThen paused (localize "HEIST.GamePhaseWindow.Buttons.Launch") (localize "HEIST.GamePhaseWindow.Buttons.Pause")}}">
            {{#if paused}}<i class="fa fa-play"></i>{{/if}}
            {{#unless paused}}<i class="fa fa-pause"></i>{{/unless}}
          </button>
        </div>
      {{/if}}
      <div>
        <button type="button" data-reset data-tooltip="{{localize "HEIST.GamePhaseWindow.Buttons.Reset"}}"
                class="flexshrink">
          <i class="fa fa-rotate-left"></i>
        </button>
      </div>
    </div>
  {{/if}}
</div>
