<div class="flex flexcol">
  <div class="flexshrink">
    <ul class="breadcrumb flex-group-center">
      {{#each phases}}
        <li {{#if (eq ../currentPhase this) }}class="active"{{/if}}>{{localize this.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="phase-details flexcol flex-group-center">
    <p class="duration align-center flexshrink">
      {{localize "HEIST.GamePhaseWindow.Duration" duration=currentPhase.duration}}
    </p>

    <div>
      {{#if active}}
        <p class="timer running">{{formattedTimeLeft timeLeft}}</p>
      {{else}}
        <h1 class="timer finished">
          {{localize "HEIST.GamePhaseWindow.NoTimeLeft"}}
          {{#if isGM}}{{localize "HEIST.GamePhaseWindow.ChangePhase"}}{{/if}}
        </h1>
      {{/if}}
    </div>
  </div>
  {{#if isGM}}
    <div class="buttons flex flexrow">
      {{#if hasNextPhase}}
        <button type="button" class="action-btn" data-action="nextPhase">
          <i class="fa fa-forward"></i>
          {{localize "HEIST.GamePhaseWindow.Buttons.NextPhase"}}
        </button>
      {{/if}}
      {{#if canPause}}
        <button type="button" class="action-btn" data-action="togglePause" {{disabled (not active)}}>
          {{#if paused}}
            <i class="fa fa-play"></i>
            {{localize "HEIST.GamePhaseWindow.Buttons.Launch"}}
          {{else}}
            <i class="fa fa-pause"></i>
            {{localize "HEIST.GamePhaseWindow.Buttons.Pause"}}
          {{/if}}
        </button>
      {{/if}}
      <button type="button" class="action-btn" data-action="reset">
        <i class="fa fa-rotate-left"></i>
        {{localize "HEIST.GamePhaseWindow.Buttons.Reset"}}
      </button>
    </div>
  {{/if}}
</div>
