<div class="game-phase-window">
  <ul class="breadcrumb flex-group-center">
    {{#each phases}}
      <li {{#if (eq ../currentPhase this) }}class="active"{{/if}}>{{localize this.name}}</li>
    {{/each}}
  </ul>
  <div class="phase-details">
    <h2>{{localize currentPhase.name}}</h2>
    <p class="duration">{{localize "HEIST.GamePhaseWindow.Duration" duration=currentPhase.duration}}</p>

    {{#if active}}
      <p class="timer">{{formattedTimeLeft timeLeft}}</p>
    {{/if}}
    {{#unless active}}
      <p class="timer finished">{{localize "HEIST.GamePhaseWindow.NoTimeLeft"}}</p>
    {{/unless}}
  </div>
  {{#if isGM}}
    <div class="buttons">
      {{#if canPause}}
        <button type="button" data-pause{{#unless active}} disabled{{/unless}}>
          {{#if paused}}{{localize "HEIST.GamePhaseWindow.Buttons.Launch"}}{{/if}}
          {{#unless paused}}{{localize "HEIST.GamePhaseWindow.Buttons.Pause"}}{{/unless}}
        </button>
      {{/if}}
      {{#if hasNextPhase}}
        <button type="button" data-next>{{localize "HEIST.GamePhaseWindow.Buttons.NextPhase"}}</button>
      {{/if}}
      <button type="button" data-reset>{{localize "HEIST.GamePhaseWindow.Buttons.Reset"}}</button>
    </div>
  {{/if}}
</div>
