<div class="flex flexcol">
  <div class="flexshrink">
    <ul class="breadcrumb flex-group-center">
      {{#each phases}}
        <li {{#if (eq ../currentPhase this) }}class="active"{{/if}}>{{localize this.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="phase-details flexcol flex-group-center">
    <p class="duration align-center flexshrink">
      {{localize "HEIST.GamePhaseWindow.Duration" duration=currentPhase.duration}}
    </p>

    <div>
      {{#if active}}
        <p class="timer running">{{formattedTimeLeft timeLeft}}</p>
      {{/if}}
      {{#if (not active)}}
        <h1 class="timer finished">
          {{localize "HEIST.GamePhaseWindow.NoTimeLeft"}}
          {{#if isGM}}{{localize "HEIST.GamePhaseWindow.ChangePhase"}}{{/if}}
        </h1>
      {{/if}}
    </div>
  </div>
  {{#if isGM}}
    <div class="buttons flex flexrow">
      {{#if hasNextPhase}}
        <div>
          <button type="button" class="action-btn" data-next>
            <i class="fa fa-forward"></i>
            {{localize "HEIST.GamePhaseWindow.Buttons.NextPhase"}}
          </button>
        </div>
      {{/if}}
      {{#if canPause}}
        <div>
          <button type="button" class="action-btn" data-pause{{#unless active}} disabled{{/unless}}>
            {{#if paused}}
              <i class="fa fa-play"></i>
              {{localize "HEIST.GamePhaseWindow.Buttons.Launch"}}
            {{/if}}
            {{#unless paused}}
              <i class="fa fa-pause"></i>
              {{localize "HEIST.GamePhaseWindow.Buttons.Pause"}}
            {{/unless}}
          </button>
        </div>
      {{/if}}
      <div>
        <button type="button" class="action-btn" data-reset>
          <i class="fa fa-rotate-left"></i>
          {{localize "HEIST.GamePhaseWindow.Buttons.Reset"}}
        </button>
      </div>
    </div>
  {{/if}}
</div>
