<div class="flexrow skills-list">
  {{#each skills}}
    <div class="flex flex-group-left flex-50">
      <span>{{this.name}}</span>
      <button type="button" class="action-btn flexshrink" data-tooltip="{{localize "HEIST.Global.Edit"}}"
              data-action="editItem" data-id="{{this._id}}">
        <i class="fa {{ifThen isLocked "fa-lock" "fa-edit"}}"></i>
      </button>
      <button type="button" class="action-btn flexshrink" data-tooltip="{{localize "HEIST.Global.Delete"}}"
              data-action="deleteItem" data-id="{{this._id}}">
        <i class="fa {{ifThen isLocked "fa-lock" "fa-trash"}}"></i>
      </button>
    </div>
  {{/each}}
</div>
