<label for="fetish-{{actor.id}}">{{fetish.name}}</label>
<button type="button" class="action-btn flexshrink" data-tooltip="{{localize "HEIST.Global.Edit"}}"
        data-edit-item data-id="{{fetish._id}}">
  <i class="fa {{ifThen isLocked "fa-lock" "fa-edit"}}"></i>
</button>
<button type="button" class="action-btn flexshrink" data-tooltip="{{localize "HEIST.Global.Delete"}}"
        data-remove-item data-id="{{fetish._id}}">
  <i class="fa {{ifThen isLocked "fa-lock" "fa-trash"}}"></i>
</button>
