<div class="flexcol jokers">
  <div class="explications">
    <h2>{{localize "HEIST.HeistSheet.Jokers.Explanations.Title"}}</h2>

    <p>{{{localize "HEIST.HeistSheet.Jokers.Explanations.Details.P0"}}}</p>
    <p>{{localize "HEIST.HeistSheet.Jokers.Explanations.Details.P1"}}</p>
    <ul>
      <li>{{{localize "HEIST.HeistSheet.Jokers.Explanations.Reconnaissance"}}}</li>
      <li>{{{localize "HEIST.HeistSheet.Jokers.Explanations.Action"}}}</li>
    </ul>

    <p>{{{localize "HEIST.HeistSheet.Jokers.Explanations.Note"}}}</p>
  </div>

  <div class="configurations">
    <h2>{{localize "HEIST.HeistSheet.Jokers.Reconnaissance"}}</h2>

    <p class="flexrow">
      <label for="reconnaissance-piles-{{actor.id}}">{{localize "HEIST.HeistSheet.Jokers.NumberOfPiles"}}</label>
      <select name="system.jack.jokerPhasesConfigurations.reconnaissance.numberOfPile"
              id="reconnaissance-piles-{{actor.id}}">
        {{selectOptions jokers.reconnaissance.nbPiles selected=actor.system.jack.jokerPhasesConfigurations.reconnaissance.numberOfPile }}
      </select>
    </p>

    <p class="flexrow">
      <label for="reconnaissance-first-joker-{{actor.id}}">
        {{localize "HEIST.HeistSheet.Jokers.FirstJokerPosition"}}
      </label>
      <select name="system.jack.jokerPhasesConfigurations.reconnaissance.firstJokerPile"
              id="reconnaissance-first-joker-{{actor.id}}">
        {{selectOptions jokers.reconnaissance.jokersPiles selected=actor.system.jack.jokerPhasesConfigurations.reconnaissance.firstJokerPile }}
      </select>
    </p>

    <p class="flexrow">
      <label for="reconnaissance-second-joker-{{actor.id}}">
        {{localize "HEIST.HeistSheet.Jokers.SecondJokerPosition"}}
      </label>
      <select name="system.jack.jokerPhasesConfigurations.reconnaissance.secondJokerPile"
              id="reconnaissance-second-joker-{{actor.id}}">
        {{selectOptions jokers.reconnaissance.jokersPiles selected=actor.system.jack.jokerPhasesConfigurations.reconnaissance.secondJokerPile }}
      </select>
    </p>
  </div>

  <div class="configurations">
    <h2>{{localize "HEIST.HeistSheet.Jokers.Action"}}</h2>

    <p class="flexrow">
      <label for="action-piles-{{actor.id}}">{{localize "HEIST.HeistSheet.Jokers.NumberOfPiles"}}</label>
      <select name="system.jack.jokerPhasesConfigurations.action.numberOfPile" id="action-piles-{{actor.id}}">
        {{selectOptions jokers.action.nbPiles selected=actor.system.jack.jokerPhasesConfigurations.action.numberOfPile}}
      </select>
    </p>

    <p class="flexrow">
      <label for="action-first-joker-{{actor.id}}">{{localize "HEIST.HeistSheet.Jokers.FirstJokerPosition"}}</label>
      <select name="system.jack.jokerPhasesConfigurations.action.firstJokerPile" id="action-first-joker-{{actor.id}}">
        {{selectOptions jokers.action.jokersPiles selected=actor.system.jack.jokerPhasesConfigurations.action.firstJokerPile }}
      </select>
    </p>

    <p class="flexrow">
      <label for="action-second-joker-{{actor.id}}">{{localize "HEIST.HeistSheet.Jokers.SecondJokerPosition"}}</label>
      <select name="system.jack.jokerPhasesConfigurations.action.secondJokerPile" id="action-second-joker-{{actor.id}}">
        {{selectOptions jokers.action.jokersPiles selected=actor.system.jack.jokerPhasesConfigurations.action.secondJokerPile }}
      </select>
    </p>
  </div>
</div>
