<div class="white-box jack flexcol">
  <div class="flexrow">
    <div>
      <h2 class="jack-name">Jack</h2>
    </div>
  </div>

  <div class="flexrow u-gap-small">
    <button type="button" class="action-btn" data-action="askAgentTest"
      {{# if (not canAskTest)}} disabled data-tooltip="{{localize "HEIST.Errors.TestAlreadyRunning"}}"{{/if}}>
      <i class="fa-duotone fa-cards"></i>
      {{localize "HEIST.HeistSheet.AskTest"}}
    </button>

    <button type="button" class="action-btn" data-action="openAgentTest"
            data-tooltip="{{localize "HEIST.AgentTestWindow.DisplayWindow"}}">
      <i class="fa-duotone fa-eye"></i>
      {{localize "HEIST.AgentTestWindow.DisplayWindow"}}
    </button>
  </div>
  <div class="align-center">
    <p>
      <u>{{localize "HEIST.Cards.Remaining"}}</u>
      <strong>{{jackAvailableCards}}</strong>
    </p>
  </div>
</div>
