<div class="flexcol">
  <p>{{localize "HEIST.JackSheet.Reconnaissance.Explanations"}}</p>

  <div class="flexcol">
    <div class="flexrow flex-evenly u-mt-small">
      <div class="card-suit">
        <span data-tooltip="{{localize "HEIST.Cards.Drawn"}}">
          <i class="fa-duotone fa-cards"></i>
        </span>
        <strong>{{length reconnaissanceHand.availableCards}}</strong>
      </div>
      {{#each colors}}
        <div class="card-suit">
          <span class="card-suit-{{@key}}">{{{this.icon}}}</span>
          <strong{{#if this.isOverflowed}} class="overflowed"{{/if}}>{{this.value}}</strong>
        </div>
      {{/each}}
    </div>
  </div>

  {{#if agentsCompromised}}
    <h1 class="compromised align-center u-mt-small">
      {{localize "HEIST.JackSheet.Reconnaissance.AgentsCompromised"}}
    </h1>
  {{/if}}

  {{#if canDrawReconnaissance}}
    <div class="flexrow u-gap-small">
      <button type="button" class="action-btn u-mt-small" data-draw-reconnaissance>
        <i class="fa-duotone fa-cards"></i>
        {{localize "HEIST.Global.DrawCards"}}
      </button>
      <button type="button" class="action-btn u-mt-small" {{disabled (not agentsCompromised)}} data-next-phase>
        <i class="fa-duotone fa-forward"></i>
        {{localize "HEIST.GamePhaseWindow.Buttons.NextPhase"}}
      </button>
    </div>
  {{/if}}

  <div class="flexrow align-center cards-container u-mt-small">
    {{#each reconnaissanceHand.cards}}
      <div class="flex-20">
        <img src="{{this.img}}" alt="{{this.name}}" class="card" />
      </div>
    {{/each}}
  </div>
</div>
