<div class="jack flexcol">
  <div class="flexrow">
    <div>
      <h2 class="jack-name">Jack</h2>
    </div>
  </div>

  <div class="flexrow u-gap-small">
    <div>
      <button type="button" class="action-btn" data-ask-agent-test
        {{# if testRunning}} disabled data-tooltip="{{localize "HEIST.Errors.TestAlreadyRunning"}}"{{/if}}>
        <i class="fa-duotone fa-cards"></i>
        {{localize "HEIST.HeistSheet.AskTest"}}
      </button>
    </div>
    <div>
      <button type="button" class="action-btn" data-open-agent-test>
        <i class="fa-duotone fa-eye"></i>
        {{localize "HEIST.AgentTestWindow.DisplayWindow"}}
      </button>
    </div>
  </div>
  <div class="align-center">
    <p>
      <u>{{localize "HEIST.Cards.Remaining"}}</u>
      <strong>{{jackAvailableCards}}</strong>
    </p>
  </div>
</div>
