<div class="agent type-{{type}}">
  {{#if isGM}}
    <div class="delete-btn flexcol">
      <button type="button" title="{{localize "HEIST.Global.Delete"}}" data-remove-actor
              data-type="{{agent.agentType.system.type}}" data-id="{{agent.id}}" class="action-btn">
        <i class="fa fa-trash"></i>
      </button>
    </div>
  {{/if}}

  <div class="flexcol">
    <div class="flex align-center">
      <div class="agent-image{{#if agent.isDead}} dead{{/if}}{{#if agent.visible}} openable{{/if}}"
           {{#if agent.isDead}}data-tooltip="{{localize "HEIST.Global.AgentIsDead"}}"{{/if}}
        {{#if agent.visible}} data-open-sheet="{{agent.id}}"{{/if}}>
        <img class="img" src="{{agent.img}}" title="{{agent.name}}" />
      </div>
    </div>

    <p class="flexrow">
      <u>{{localize "HEIST.Global.AgentName"}}</u>
      <strong>{{agent.name}}</strong>
    </p>

    <p class="flexrow">
      <u>{{localize "HEIST.Cards.Remaining"}}</u>
      <strong>{{length agent.deck.availableCards}}</strong>
    </p>

    <p class="flexrow">
      <u>{{localize "HEIST.Agent.FetishObject"}}</u>
      <strong class="{{#if agent.fetishUsed}}u-strike{{/if}}">
        {{agent.fetish.name}}
      </strong>
    </p>

    {{#if (and isGM (not agent.isDead))}}
      <div class="flexrow">
        <button type="button" data-harm-agent data-agent-id="{{agent.id}}"
                data-tooltip="{{localize "HEIST.HeistSheet.Harm"}}" class="action-btn">
          <i class="fa fa-gun"></i>
        </button>
        <button type="button" data-rescue-agent data-agent-id="{{agent.id}}"
                data-tooltip="{{localize "HEIST.HeistSheet.Rescue"}}" class="action-btn">
          <i class="fa fa-briefcase-medical"></i>
        </button>
        <button type="button" data-kill-agent data-agent-id="{{agent.id}}"
                data-tooltip="{{localize "HEIST.HeistSheet.Kill"}}" class="action-btn">
          <i class="fa fa-skull"></i>
        </button>
      </div>
    {{/if}}
  </div>
</div>
