<div class="flexcol">
  <div class="flexrow">
    <label for="agent">{{localize "HEIST.Global.AgentName"}}</label>
    <select id="agent" name="agentId">
      {{#each agents}}
        <option value="{{this.id}}">{{this.name}}</option>
      {{/each}}
    </select>
  </div>
  <div class="flexrow">
    <p>{{localize "HEIST.Global.Difficulty"}}</p>
    <div class="flexrow flex2">
      <p>
        <input type="radio" name="difficulty" id="difficulty-easy" value="easy" checked="checked" />
        <label for="difficulty-easy">{{localize "HEIST.HeistSheet.EasyTest"}}</label>
      </p>
      <p>
        <input type="radio" name="difficulty" id="difficulty-difficult" value="difficult" />
        <label for="difficulty-difficult">{{localize "HEIST.HeistSheet.DifficultTest"}}</label>
      </p>
    </div>
  </div>
  {{#if hasFirstJoker}}
    <div class="u-mb-small">
      <fieldset>
        <legend>{{localize "HEIST.AgentTestWindow.UseJoker"}}</legend>
        {{#if nextDrawHasJoker}}
          <div>{{localize "HEIST.AgentTestWindow.NextDrawHasJoker"}}</div>
        {{/if}}

        <div class="flexrow">
          <p>
            <input type="radio" name="joker" id="joker-none" value="0" checked="checked" data-joker
              {{disabled nextDrawHasJoker}} />
            <label for="joker-none">{{localize "HEIST.AgentTestWindow.DontUseJoker"}}</label>
          </p>
          <p>
            <input type="radio" name="joker" id="joker-one" value="1" data-joker {{disabled nextDrawHasJoker}} />
            <label for="joker-one">{{localize "HEIST.AgentTestWindow.TriggerJoker" number=1}}</label>
          </p>
          {{#if hasSecondJoker}}
            <p>
              <input type="radio" name="joker" id="joker-second" value="2" data-joker {{disabled nextDrawHasJoker}} />
              <label for="joker-second">{{localize "HEIST.AgentTestWindow.TriggerJoker" number=2}}</label>
            </p>
          {{/if}}
        </div>
      </fieldset>
      <p></p>
    </div>
  {{/if}}
</div>
