<div class="agency-member agent-card-wrapper">
  <div class="agent-card flexcol">
    <div class="flexcol flex-group-center">
      <img class="profile-img" src="{{agent.img}}" title="{{agent.name}}" height="100" width="100" />
      <p><u>{{localize "HEIST.Global.AgentName"}}</u> <strong>{{agent.name}}</strong></p>
    </div>

    {{#if isGM}}
      <div class="remove-btn">
        <button type="button" title="{{localize "HEIST.Global.Delete"}}" data-remove-actor
                data-type="{{agent.agentType.system.type}}" data-id="{{agent.id}}">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    {{/if}}

    <p><u>{{localize "HEIST.Cards.Remaining"}}</u> <strong>{{length agent.deck.availableCards}}</strong></p>

    <p>
      <u>{{localize "HEIST.Agent.FetishObject"}}</u> {{agent.fetish.name}}
      {{#if agent.fetish.system.used}}{{localize "HEIST.Agent.FetishObjectUsed"}}{{/if}}
    </p>

    {{#if canTest}}
      {{#if (length agent.deck.availableCards)}}
        <div class="grid grid-2col flexshrink">
          <div>
            <button type="button" data-ask-agent-test data-difficulty="easy" data-agent-id="{{agent.id}}">
              {{localize "HEIST.HeistSheet.EasyTest"}}
            </button>
          </div>
          <div>
            <button type="button" data-ask-agent-test data-difficulty="difficult" data-agent-id="{{agent.id}}">
              {{localize "HEIST.HeistSheet.DifficultTest"}}
            </button>
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
