<div class="agency-member agent-card-wrapper">
  <div class="agent-card">
    <div class="flexcol flex-group-center">
      <img class="profile-img{{ifThen jack.visible " openable" ""}}" src="{{jack.img}}" title="{{jack.name}}"
           height="100" width="100" {{ifThen jack.visible (concat " data-open-sheet=\"" jack.id "\"") ""}} />
      <p><strong>{{jack.name}}</strong></p>
    </div>

    {{#if isGM}}
      <div class="remove-btn">
        <button type="button" title="{{localize "HEIST.Global.Delete"}}" data-remove-actor
                data-type="jack" data-id="{{jack.id}}">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    {{/if}}
  </div>
</div>
