<div class="progression flexcol">
  <div class="blue-box">
    <h1>{{localize "HEIST.Global.Explanations"}}</h1>

    <p>{{localize "HEIST.HeistSheet.Progression.HowTo" name=actor.name}}</p>
    <p>{{localize "HEIST.HeistSheet.Progression.ChooseOne"}}</p>
  </div>

  <div class="white-box u-mt-small">
    <h2>{{localize "HEIST.HeistSheet.Progression.Training.Title"}}</h2>

    <p>{{{localize "HEIST.HeistSheet.Progression.Training.Description"}}}</p>

    <div class="flexrow flex-group-center">
      <p class="flex flex-group-center">
        <input type="checkbox" id="training-1-{{actor.id}}" {{checked actor.system.progression.firstAgentTraining}}
               name="system.progression.firstAgentTraining" />
        <label for="training-1-{{actor.id}}">
          {{localize "HEIST.HeistSheet.Progression.Training.TrainingNumber" number=1}}
        </label>
      </p>
      <p class="flex flex-group-center">
        <input type="checkbox" id="training-2-{{actor.id}}" {{checked actor.system.progression.secondAgentTraining}}
               name="system.progression.secondAgentTraining" />
        <label for="training-2-{{actor.id}}">
          {{localize "HEIST.HeistSheet.Progression.Training.TrainingNumber" number=2}}
        </label>
      </p>
      <p class="flex flex-group-center">
        <input type="checkbox" id="training-3-{{actor.id}}" {{checked actor.system.progression.thirdAgentTraining}}
               name="system.progression.thirdAgentTraining" />
        <label for="training-3-{{actor.id}}">
          {{localize "HEIST.HeistSheet.Progression.Training.TrainingNumber" number=3}}
        </label>
      </p>
    </div>
  </div>

  <div class="flexrow u-gap-small">
    <div class="white-box u-mt-small">
      <h2>{{localize "HEIST.HeistSheet.Progression.Budget.Title"}}</h2>

      <p>{{{localize "HEIST.HeistSheet.Progression.Budget.Description" number=progression.budgetAugmentations}}}</p>
    </div>
    <div class="white-box u-mt-small">
      <h2>{{localize "HEIST.HeistSheet.Progression.Improvisation.Title"}}</h2>

      <p>{{{localize "HEIST.HeistSheet.Progression.Improvisation.Description"}}}</p>
      <p class="flex flex-group-center">
        <input type="checkbox" id="improvisation-{{actor.id}}" {{checked actor.system.progression.improvisation}}
               name="system.progression.improvisation" />
        <label for="improvisation-{{actor.id}}">{{localize "HEIST.Global.Acquire"}}</label>
      </p>
    </div>
  </div>
  <div class="flexrow u-gap-small">
    <div class="white-box u-mt-small">
      <h2>{{localize "HEIST.HeistSheet.Progression.Network.Title"}}</h2>

      <p>{{{localize "HEIST.HeistSheet.Progression.Network.Description"}}}</p>
      <p class="flex flex-group-center">
        <input type="checkbox" id="network-{{actor.id}}" {{checked actor.system.progression.network}}
               name="system.progression.network" />
        <label for="network-{{actor.id}}">{{localize "HEIST.Global.Acquire"}}</label>
      </p>
    </div>

    <div class="white-box u-mt-small">
      <h2>{{localize "HEIST.HeistSheet.Progression.Rescue.Title"}}</h2>

      <p>{{{localize "HEIST.HeistSheet.Progression.Rescue.Description" name=actor.name}}}</p>

      <div class="flexrow">
        <p class="flex flex-group-center">
          <input type="checkbox" id="rescue-{{actor.id}}" {{checked actor.system.progression.rescue}}
                 name="system.progression.rescue" />
          <label for="rescue-{{actor.id}}">{{localize "HEIST.Global.Acquire"}}</label>
        </p>
        {{#if actor.system.progression.rescue}}
          <p class="flex flex-group-center">
            <button type="button" class="action-btn">
              <i class="fa fa-check"></i>
              {{localize "HEIST.Global.Use"}}
            </button>
          </p>
        {{/if}}
      </div>
    </div>
  </div>
</div>
