<div class="grid grid-2col">
  {{#each agents}}
    <div class="agent-card-wrapper">
      <div class="agent-card">
        <div class="flexrow flex-group-left">
          <p><u>{{localize "HEIST.Global.AgentName"}}</u> <strong>{{this.name}}</strong></p>
          <div class="flexshrink">
            <button type="button" title="{{localize "HEIST.Global.Delete"}}" data-remove-agent data-id="{{this.id}}">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        </div>
        <p><u>{{localize "HEIST.Cards.Remaining"}}</u> <strong>{{length this.deck.availableCards}}</strong></p>

        {{#if ../canTest}}
          {{#if (length this.deck.availableCards)}}
            <div class="grid grid-2col">
              <div>
                <button type="button" data-ask-agent-test data-difficulty="easy" data-agent-id="{{this.id}}">
                  {{localize "HEIST.HeistSheet.EasyTest"}}
                </button>
              </div>
              <div>
                <button type="button" data-ask-agent-test data-difficulty="difficult" data-agent-id="{{this.id}}">
                  {{localize "HEIST.HeistSheet.DifficultTest"}}
                </button>
              </div>
            </div>
          {{/if}}
        {{/if}}
      </div>
    </div>
  {{/each}}
</div>
