<div class="agency-member agent-card-wrapper">
  <div class="agent-card flexcol">
    <div class="flexcol flex-group-center">
      <img class="profile-img{{ifThen agent.visible " openable" ""}}" src="{{agent.img}}" title="{{agent.name}}"
           height="100" width="100" {{ifThen agent.visible (concat " data-open-sheet=\"" agent.id "\"") ""}} />
      <p><u>{{localize "HEIST.Global.AgentName"}}</u> <strong>{{agent.name}}</strong></p>

      {{#if agent.isDead}}
        <p><strong>{{localize "HEIST.Global.AgentIsDead"}}</strong></p>
      {{/if}}
    </div>

    {{#if isGM}}
      <div class="remove-btn">
        <button type="button" title="{{localize "HEIST.Global.Delete"}}" data-remove-actor
                data-type="{{agent.agentType.system.type}}" data-id="{{agent.id}}">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    {{/if}}

    <p><u>{{localize "HEIST.Cards.Remaining"}}</u> <strong>{{length agent.deck.availableCards}}</strong></p>

    <p>
      <u>{{localize "HEIST.Agent.FetishObject"}}</u> {{agent.fetish.name}}
      {{#if agent.fetish.system.used}}{{localize "HEIST.Agent.FetishObjectUsed"}}{{/if}}
    </p>

    {{#if canTest}}
      {{#if agent.canBeTested}}
        <div class="grid grid-2col flexshrink">
          <button type="button" data-ask-agent-test data-difficulty="easy" data-agent-id="{{agent.id}}">
            {{localize "HEIST.HeistSheet.EasyTest"}}
          </button>
          <button type="button" data-ask-agent-test data-difficulty="difficult" data-agent-id="{{agent.id}}">
            {{localize "HEIST.HeistSheet.DifficultTest"}}
          </button>
          <button type="button" data-harm-agent data-agent-id="{{agent.id}}">
            {{localize "HEIST.HeistSheet.Harm"}}
          </button>
          <button type="button" data-rescue-agent data-agent-id="{{agent.id}}">
            {{localize "HEIST.HeistSheet.Rescue"}}
          </button>
          <button type="button" class="grid-span-2" data-kill-agent data-agent-id="{{agent.id}}">
            {{localize "HEIST.HeistSheet.Kill"}}
          </button>
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>
