<div class="tab flexcol agent-container{{#if (not isGM)}} no-jack{{/if}} {{tabs.agency.id}} {{tabs.agency.cssClass}}"
     data-group="sheet" data-tab="agency">
  {{#if isGM}}
    {{> (template "actor/_partials/_heist-jack.html.hbs")}}
  {{else}}
    <div class="flexshrink">
      <button type="button" class="action-btn" data-action="openAgentTest">
        <i class="fa-duotone fa-eye"></i>
        {{localize "HEIST.AgentTestWindow.DisplayWindow"}}
      </button>
    </div>
  {{/if}}

  <div class="flexcol{{#if (not isGM)}} no-jack{{/if}}">
    <div class="agent-row u-mt-small u-gap-small flexshrink">
      {{#if spade}}
        {{> (template "actor/_partials/_heist-agent.html.hbs") agent=spade type="spade"}}
      {{else}}
        <div class="white-box agent type-spade"></div>
      {{/if}}

      {{#if heart}}
        {{> (template "actor/_partials/_heist-agent.html.hbs") agent=heart type="heart"}}
      {{else}}
        <div class="white-box agent type-heart"></div>
      {{/if}}
    </div>

    <div class="agent-row u-mt-small u-gap-small flexshrink">
      {{#if diamond}}
        {{> (template "actor/_partials/_heist-agent.html.hbs") agent=diamond type="diamond"}}
      {{else}}
        <div class="white-box agent type-diamond"></div>
      {{/if}}

      {{#if club}}
        {{> (template "actor/_partials/_heist-agent.html.hbs") agent=club type="club"}}
      {{else}}
        <div class="white-box agent type-club"></div>
      {{/if}}
    </div>
  </div>
</div>
