<nav class="tabs tabs-nav sheet-tabs flexshrink" data-group="primary">
  {{#each tabs as |tab|}}
    <a class="item {{tab.id}} {{tab.cssClass}}" data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}">
      {{localize tab.label}}
    </a>
  {{/each}}
</nav>
