<div class="tab flexcol {{tabs.planning.id}} {{tabs.planning.cssClass}}" data-group="sheet" data-tab="planning">
  <div>
    <h2>{{localize "HEIST.HeistSheet.Planning.Title"}}</h2>

    <div class="plan-editor">
      {{formInput systemFields.plan name="system.plan" value=system.plan
                  enriched=planning.description toggled=true}}
    </div>
  </div>

  <h2>{{localize "HEIST.HeistSheet.Planning.Credit.Label"}}</h2>

  <div class="white-box credits-usage flexrow flex-group-center">
    <div class="flexcol">
      <span class="credit-value">{{planning.credits.available}}</span>
      <span class="credit-label">{{localize "HEIST.HeistSheet.Planning.Credit.Available"}}</span>
    </div>
    <div class="flexcol">
      <span class="credit-value">{{planning.credits.used}}</span>
      <span class="credit-label">{{localize "HEIST.HeistSheet.Planning.Credit.Used"}}</span>
    </div>
    <div class="flexcol">
      <span class="credit-value">{{planning.credits.remaining}}</span>
      <span class="credit-label">{{localize "HEIST.HeistSheet.Planning.Credit.Remaining"}}</span>
    </div>
  </div>

  {{#if isGM}}
    <p class="flex">
      <button type="button" class="action-btn flexgrow" data-action="addPlanningItem">
        <i class="fa fa-add"></i>
        {{localize "HEIST.HeistSheet.Planning.AddItem"}}
      </button>
    </p>
  {{/if}}

  <div class="planning-items flexrow flex-evenly u-mt-small">
    {{#each items}}
      <div class="white-box flex-30">
        <div class="flexcol flex-group-center">
          <p><strong>{{this.name}}</strong></p>
          <p>
            <u>{{localize "HEIST.PlanningItem.Cost"}}</u>
            <strong>{{this.system.cost}} {{localize "HEIST.PlanningItem.Credits"}}</strong></p>
        </div>

        {{#if ../isGM}}
          <div class="flexrow planning-actions">
            <button type="button" class="action-btn" data-tooltip="{{localize "HEIST.Global.Edit"}}"
                    data-action="editItem" data-id="{{this._id}}">
              <i class="fa fa-pencil"></i>
            </button>
            <button type="button" class="action-btn" data-tooltip="{{localize "HEIST.Global.Delete"}}"
                    data-action="removeItem" data-id="{{this._id}}">
              <i class="fa fa-trash"></i>
            </button>
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
</div>
