{{#if test.isFinished}}
  {{#if (not test.isSuccessful)}}
    <h1 class="align-center">{{localize "HEIST.ChatMessage.TestFailed" name=agent.name}}</h1>
  {{/if}}
  {{#if test.isSuccessful}}
    <h1 class="align-center">{{localize "HEIST.ChatMessage.TestSuccessful" name=agent.name}}</h1>
    {{#if test.isBlackjack}}
      <h2>{{localize "HEIST.Blackjack.ItsABlackjack"}}</h2>
    {{/if}}
  {{/if}}
{{/if}}

<h2 class="u-mt-small">{{localize "HEIST.Cards.HandName" name=jack.name}}</h2>

<div class="flexrow align-center cards-container">
  {{#each jack.cards}}
    {{#if (or ../isAdmin (not this.excluded))}}
      <div>
        <img src="{{ifThen this.visible this.front this.back}}" alt="{{this.name}}"
             class="card{{#if this.excluded}} excluded{{/if}}"
          {{#if this.excluded}} data-tooltip="{{localize "HEIST.Cards.Excluded"}}"{{/if}} />
      </div>
    {{/if}}
  {{/each}}
</div>

<div class="flex flexrow flex-group-center">
  <p class="score">{{localize "HEIST.AgentTestWindow.CurrentScore" value=jack.score}}</p>

  {{#if isAdmin}}
    <p class="score">{{localize "HEIST.AgentTestWindow.ScoreToBeat" value=jack.totalScore}}</p>
  {{/if}}
</div>
{{#if isAdmin}}
  <div class="actions-buttons">
    {{#if (not test.isFinished)}}
      {{#if (not test.isRevealed)}}
        <button class="action-btn" type="button" data-reveal>
          <i class="fa-duotone fa-eye"></i>
          {{localize "HEIST.AgentTestWindow.Reveal"}}
        </button>
      {{/if}}
      <button class="action-btn" type="button" data-finish>
        <i class="fa-duotone fa-flag-checkered"></i>
        {{localize "HEIST.AgentTestWindow.Finish"}}
      </button>
    {{/if}}
  </div>
{{/if}}

<h2 class="u-mt-small">{{localize "HEIST.Cards.HandName" name=agent.name}}</h2>

<div class="flexrow align-center cards-container">
  {{#each agent.cards}}
    <div class="flex-25">
      <img src="{{this.front}}" alt="{{this.name}}" class="card" />
    </div>
  {{/each}}
</div>

<p class="score align-center">{{localize "HEIST.AgentTestWindow.CurrentScore" value=agent.score}}</p>

{{#if (and agent.isOwner (not test.isFinished))}}
  <div class="actions-buttons">
    <button type="button" class="action-btn" data-draw{{#unless agent.canDraw}} disabled
            title="{{localize "HEIST.AgentTestWindow.NoCardLeft"}}"{{/unless}}>
      <i class="fa-duotone fa-cards"></i>
      {{localize "HEIST.AgentTestWindow.Draw"}}
    </button>
    {{#if agent.canUseFetish}}
      <button type="button" class="action-btn" data-fetish>
        <i class="fa fa-clover"></i>
        {{localize "HEIST.AgentTestWindow.UseFetish"}}
      </button>
    {{/if}}
  </div>
{{/if}}
