<div class="flexshrink flexcol">
  <p>
    <input name="name" type="text" value="{{document.name}}" placeholder="{{localize "HEIST.Global.Name"}}" />
  </p>

  <p>
    <label for="cost-{{document._id}}">{{localize systemFields.cost.label}}</label>
    {{formInput systemFields.cost id=(concat "cost-" document._id) name="system.cost" value=source.system.cost}}
    {{localize "HEIST.PlanningItem.Credits"}}
  </p>
</div>
