<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flexcol">
      <div class="flexrow flex-group-center">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="flex2">
          <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "HEIST.Global.Name"}}" />
          </h1>
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="agents">{{localize "HEIST.HeistSheet.TheHeistAgents"}}</a>
    <a class="item" data-tab="planning">{{localize "HEIST.GamePhases.Phase4.Title"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="agents">
      {{> "systems/heist/templates/actor/_partials/_heist-agents.html.hbs"}}
    </div>
    <div class="tab" data-group="primary" data-tab="planning">
      {{> "systems/heist/templates/actor/_partials/_heist-planning.html.hbs"}}
    </div>
  </section>
</form>
