<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <header class="sheet-header">
    <div class="flex flexcol">
      <div class="flexrow flex-group-center">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="header-fields">
          <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "HEIST.Global.Name"}}" />
          </h1>
        </div>
      </div>
    </div>
  </header>

  <section class="sheet-body">
    <p class="align-center">{{localize "HEIST.Cards.Remaining" count=(length actor.deck.availableCards)}}</p>

    <div class="grid grid-2col">
      {{#each agents}}
        <div class="agent-card-wrapper">
          <div class="agent-card">
            <div class="flexrow flex-group-left">
              <p class="ml-8">{{localize "HEIST.Global.AgentName" name=this.name}}</p>
              <div class="flexshrink">
                <button type="button" title="{{localize "HEIST.Global.Delete"}}" data-remove-agent data-id="{{this.id}}">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </div>
            <p>{{localize "HEIST.Cards.Remaining" count=(length this.deck.availableCards)}}</p>

            {{#if ../canTest}}
              {{#if (length this.deck.availableCards)}}
                <div class="grid grid-2col">
                  <div>
                    <button type="button" data-ask-agent-test data-difficulty="easy" data-agent-id="{{this.id}}">
                      {{localize "HEIST.GamemasterSheet.EasyTest"}}
                    </button>
                  </div>
                  <div>
                    <button type="button" data-ask-agent-test data-difficulty="difficult" data-agent-id="{{this.id}}">
                      {{localize "HEIST.GamemasterSheet.DifficultTest"}}
                    </button>
                  </div>
                </div>
              {{/if}}
            {{/if}}
          </div>
        </div>
      {{/each}}
    </div>
  </section>
</form>
