<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  <header class="sheet-header flexshrink">
    <div class="flex flexcol">
      <div class="flexrow flex-group-center">
        <img src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100" />
        <div class="flex2">
          <h1 class="charname">
            <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize "HEIST.Global.Name"}}" />
          </h1>
        </div>
      </div>
    </div>
  </header>

  <nav class="sheet-tabs tabs flexshrink" data-group="primary">
    <a class="item" data-tab="agency">{{localize "HEIST.HeistSheet.TheAgency"}}</a>
    {{#if isGM}}
      <a class="item" data-tab="reconnaissance">{{localize "HEIST.GamePhases.Phase2.Title"}}</a>
    {{/if}}
    <a class="item" data-tab="planning">{{localize "HEIST.GamePhases.Phase3.Title"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="agency">
      {{> (template "actor/_partials/_heist-agency.html.hbs")}}
    </div>
    {{#if isGM}}
      <div class="tab" data-group="primary" data-tab="reconnaissance">
        {{> (template "actor/_partials/_heist-reconnaissance.html.hbs")}}
      </div>
    {{/if}}
    <div class="tab planning" data-group="primary" data-tab="planning">
      {{> (template "actor/_partials/_heist-planning.html.hbs")}}
    </div>
  </section>
</form>
