<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  <div class="inner-wrapper">
    <div class="heist-margin">THE HEIST</div>

    {{#if agentType}}
      <div class="agent-type">
        <img src="{{ui (concat agentType.system.type ".webp")}}" alt="" />
        <div class="agent-type-name">{{agentType.name}}</div>
      </div>
    {{/if}}

    <div class="flex flexcol align-center agent-inner">
      <div class="agent-image">
        <img src="{{actor.img}}" data-edit="img" alt="" />
      </div>
      <div class="agent-info flexshrink">
        <div class="agent-skills">
          <p><strong>{{localize "HEIST.Agent.Skills"}}</strong></p>

          <p>
            {{#each skills}}
              <span>{{this.name}}</span>
              {{#unless @last}}|{{/unless}}
            {{/each}}
          </p>
        </div>
        <div class="agent-fetish">
          <p><strong>{{localize "HEIST.Agent.FetishObject"}}</strong></p>

          {{#if fetish}}
            <p class="fetish-container align-center">
              <input id="fetish-{{actor.id}}" type="checkbox" {{checked fetish.used}}>
              <label for="fetish-{{actor.id}}">{{fetish.name}}</label>
            </p>
          {{/if}}
        </div>
        <div class="agent-story">
          <p><strong>{{localize "HEIST.Agent.Story"}}</strong></p>

          {{editor enrichedDescription target="system.description" button=true editable=editable engine="prosemirror"}}
        </div>
      </div>
    </div>
  </div>
</form>
