<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{#if editable}}
    <p class="agent-edit">
      <button type="button" data-tooltip="{{localize "HEIST.Global.Edit"}}" data-lock>
        <i class="fa {{ifThen isLocked "fa-lock" "fa-unlock"}}"></i>
      </button>
    </p>
  {{/if}}

  <div class="inner-wrapper">
    <div class="heist-margin">THE HEIST</div>

    {{#if agentType}}
      <div class="agent-type">
        <img src="{{agentType.img}}" alt="" />
        <div class="agent-type-name">{{agentType.name}}</div>
      </div>
    {{/if}}

    <div class="flex flexcol align-center agent-inner">
      <div class="agent-image">
        <img src="{{actor.img}}" data-edit="img" alt="" />
      </div>
      <div class="agent-info flexshrink">
        <div class="agent-skills">
          <p><strong>{{localize "HEIST.Agent.Skills"}}</strong></p>

          {{#if isLocked}}{{> (template "actor/_partials/_agent-skills.html.hbs")}}{{/if}}
          {{#if (not isLocked)}}{{> (template "actor/_partials/_agent-editable-skills.html.hbs")}}{{/if}}
        </div>
        <div class="agent-fetish">
          <p><strong>{{localize "HEIST.Agent.FetishObject"}}</strong></p>

          {{#if fetish}}
            <p class="fetish-container align-center">
              {{#if isLocked}}{{> (template "actor/_partials/_agent-fetish.html.hbs")}}{{/if}}
              {{#if (not isLocked)}}{{> (template "actor/_partials/_agent-editable-fetish.html.hbs")}}{{/if}}
            </p>
          {{/if}}
        </div>
        <div class="agent-story">
          <p><strong>{{localize "HEIST.Agent.Story"}}</strong></p>

          {{editor enrichedDescription target="system.description" editable=(not isLocked) engine="prosemirror"}}
        </div>
      </div>
    </div>
  </div>
</form>
