<div class="{{actor.type}} flex flexcol">
  <header class="sheet-header flexshrink">
    <img src="{{actor.img}}"{{#if editable}} data-action="editImage" data-edit="img"{{/if}} title="{{actor.name}}" />

    <input class="npc-name" name="name" type="text" value="{{actor.name}}"
           placeholder="{{localize "HEIST.Global.Name"}}" />
  </header>

  <section class="blue-box sheet-body">
    {{formInput systemFields.description name="system.description" value=system.description
                enriched=enrichedDescription toggled=true}}
  </section>
</div>
