<h1>{{localize "HEIST.AgentTestWindow.Result.Title"}}</h1>

<h2>{{localize "HEIST.ChatMessage.TestFailed" name=agent.name}}</h2>

<ul>
  <li><u>{{localize "HEIST.ChatMessage.ScoreToBeat"}}</u> <strong>{{scoreToBeat}}</strong></li>
  <li><u>{{localize "HEIST.ChatMessage.AgentScore"}}</u> <strong>{{agentScore}}</strong></li>
</ul>
