<form class="{{cssClass}}" autocomplete="off">
  {{#if editable}}
    <p class="planning-edit">
      <button type="button" data-tooltip="{{localize "HEIST.Global.Edit"}}" data-lock>
        <i class="fa {{ifThen isLocked "fa-lock" "fa-unlock"}}"></i>
      </button>
    </p>
  {{/if}}

  <div class="planning-wrapper flexcol">
    <div class="magpie">
      <img src="{{ui "magpie.webp"}}" alt="" />
    </div>

    {{#if isLocked}}{{> (template "item/_partials/_planning-locked-infos.html.hbs")}}{{/if}}
    {{#if (not isLocked)}}{{> (template "item/_partials/_planning-editable-infos.html.hbs")}}{{/if}}

    <div class="magpie reverse">
      <img src="{{ui "magpie.webp"}}" alt="" />
    </div>
  </div>
</form>
