<form class="{{cssClass}} flex flexcol" autocomplete="off">
  <header class="sheet-header flexshrink">
    <img src="{{item.img}}"{{#if editable}} data-edit="img"{{/if}} title="{{item.name}}" />

    {{#if editable}}
      <input class="agent-type-name" name="name" type="text" value="{{item.name}}"
             placeholder="{{localize "HEIST.Global.Name"}}" />
    {{else}}
      <p class="agent-type-name">{{item.name}}</p>
    {{/if}}
  </header>

  <section class="blue-box sheet-body">
    {{editor enrichedDescription target="system.description" button=true editable=editable engine="prosemirror"}}
  </section>
</form>
