<form class="{{cssClass}}" autocomplete="off">
  {{#if editable}}
    <p class="skill-edit">
      <button type="button" data-tooltip="{{localize "HEIST.Global.Edit"}}" data-lock>
        <i class="fa {{ifThen isLocked "fa-lock" "fa-unlock"}}"></i>
      </button>
    </p>
  {{/if}}

  <div class="skill-wrapper flexcol">
    <div class="magpie">
      <img src="{{ui "magpie.webp"}}" alt="" />
    </div>

    <div>
      {{#if (and editable (not isLocked))}}
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "HEIST.Global.Name"}}" />
      {{/if}}
      {{#if (or (not editable) isLocked)}}
        <p>{{item.name}}</p>
      {{/if}}
    </div>

    <div class="magpie reverse">
      <img src="{{ui "magpie.webp"}}" alt="" />
    </div>
  </div>
</form>
