<div class="{{document.type}}">
  {{#if editable}}
    <p class="sheet-edit">
      <button type="button" class="action-btn" data-tooltip="{{localize "HEIST.Global.Edit"}}" data-action="toggleLock">
        <i class="fa {{ifThen isLocked "fa-lock" "fa-unlock"}}"></i>
      </button>
    </p>
  {{/if}}

  <div class="fetish-wrapper flexcol">
    <div class="fetish-image">
      <img src="{{document.img}}"{{#if (and editable (not isLocked))}} data-action="editImage" data-edit="img"{{/if}}
           alt="" />
    </div>

    <div class="flexshrink">
      {{#if (and editable (not isLocked))}}
        <input name="name" type="text" value="{{document.name}}" placeholder="{{localize "HEIST.Global.Name"}}" />
      {{/if}}
      {{#if (or (not editable) isLocked)}}
        <p>{{document.name}}</p>
      {{/if}}
    </div>
  </div>
</div>
